{% extends "base.html" %}

{% block title %}Categoría - YourToolQuizz{% endblock %}

{% block content %}
<main>
  <h1 style="text-align:center; color:#ff6f61;">Blogs disponibles</h1>

  <div class="quiz-list">
    <!-- Blog 1 -->
    <a href="{{ url_for('blog1antivirus') }}" class="quiz-item">
      <div class="quiz-image" style="background-image: url('https://cdn.mos.cms.futurecdn.net/UjSNcAZ5SebctebKAMQNVF.jpg');"></div>
      <div class="quiz-content">
        <h2 class="quiz-title">Encuentra la herramienta de seguridad adecuada con nuestro quiz</h2>
        <p class="quiz-desc">En la <strong>era digital</strong>, elegir la <strong>herramienta de seguridad adecuada</strong> para tu ordenador es esencial. Cada día millones de personas corren riesgos por virus, malware y ataques informáticos, y no siempre un antivirus estándar es suficiente.</p>
      </div>
    </a>

    <!-- Blog 2 -->
    <a href="{{ url_for('blogproductividad') }}" class="quiz-item">
      <div class="quiz-image" style="background-image: url('https://cdn.mos.cms.futurecdn.net/UjSNcAZ5SebctebKAMQNVF.jpg');"></div>
      <div class="quiz-content">
        <h2 class="quiz-title">Mejora tu productividad: Notion, ClickUp y Todoist</h2>
        <p class="quiz-desc">En un mundo donde el tiempo es uno de nuestros recursos más valiosos, contar con una app de productividad puede marcar la diferencia entre sentirse abrumado y lograr un flujo de trabajo eficiente. Estas herramientas permiten gestionar tareas, planificar proyectos y organizar ideas de manera centralizada.</p>
      </div>
    </a>
  </div>
</main>
{% endblock %}
