{% extends "base.html" %}

{% block title %}Categoría - YourToolQuizz{% endblock %}


{% block content %}
  <main>
    <div class="empty-icon">
      <i class="far fa-folder-open"></i>
    </div>

    <h1 class="empty-title">Todavía no hay nada</h1>
    <p class="empty-subtitle">Todavía no se han hecho quizzes ni se han escrito blogs de esta categoría</p>

    <div class="action-buttons">
      <a href="{{ url_for('homepage') }}" class="action-btn">
        <i class="fas fa-puzzle-piece"></i> Volver a la página de inicio
      </a>
    </div>
  </main>
{% endblock %}
