{% extends "base.html" %}

{% block title %}Quiz Productividad | YourToolQuizz{% endblock %}


{% block content %}
<main>
  <form id="quizForm" method="POST" action="{{ url_for('quizzproductividad') }}">
    {{ form.hidden_tag() }}

    {% for i in range(1,6) %}
    <div class="question {% if i == 1 %}active{% endif %}">
      <h3>{{ getattr(form, 'q' ~ i).label }}</h3>
      <div class="progress-bar">
        <div class="progress-bar-inner"></div>
      </div>
      <ul class="answers">
        {% for subfield in getattr(form, 'q' ~ i) %}
        <li>
          <label>{{ subfield() }} {{ subfield.label.text }}</label>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}

    <div class="navigation-buttons">
      <button type="button" id="prevBtn" class="nav-btn" disabled>Anterior</button>
      <button type="button" id="nextBtn" class="nav-btn" disabled>Siguiente</button>
    </div>

    <input type="hidden" name="quiz_type" value="productividad">
    <button type="submit" id="submitBtn" class="nav-btn">Enviar</button>
  </form>
</main>
{% endblock %}
{% endblock %}
